<ion-toolbar color="success">
  <ion-button color="light" fill="clear" (click)="rest.navCtrl.pop()">
    <ion-icon name="chevron-back-outline"></ion-icon>
  </ion-button>
  <ion-button slot="end" (click)="insert()" color="light" fill="clear">
    Thêm kế hoạch
  </ion-button>
</ion-toolbar>

<ion-content>
  <div class="heading">
    {{rest.user.name}}
  </div>
  <ion-card *ngFor="let tieuchi of dulieu; let chimuctieuchi = index">
    <ion-card-header class="header">
      {{tieuchi.tieude}}
    </ion-card-header>
    <ion-card-content>
      <ion-item *ngFor="let truong of tieuchi.truong; let chimuc = index">
        <ion-input slot="start" [(ngModel)]="dulieu[chimuctieuchi].truong[chimuc].giatri"></ion-input>
        <ion-select [(ngModel)]="dulieu[chimuctieuchi].truong[chimuc].thoigian">
          <ion-select-option *ngFor="let tg of thoigian; let i = index" [value]="i">
            {{tg}}
          </ion-select-option>
        </ion-select>
        <ion-button slot="end" color="danger" size="small" (click)="xoaTruong(chimuctieuchi, chimuc)">
          <ion-icon name="trash-outline"></ion-icon>
        </ion-button>
      </ion-item>
      <ion-button color="success" size="small" (click)="themTruong(chimuctieuchi)">
        <ion-icon name="add-circle-outline"></ion-icon>
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>