<ion-toolbar color="success">
  <ion-button color="light" fill="clear" (click)="this.rest.navCtrl.pop()">
    <ion-icon name="chevron-back-outline"></ion-icon>
  </ion-button>
</ion-toolbar>

<ion-content>
  <ion-card>
    <ion-card-header>
      Khách hàng: {{rest.cart.list[rest.cart.select].customer}} <br>
      Số điện thoại: {{rest.cart.list[rest.cart.select].phone}} <br>
      Địa chỉ: {{rest.cart.list[rest.cart.select].address}}
    </ion-card-header>
    <ion-card-content>
      Trạng thái: {{rest.cart.list[rest.cart.select].status}} <br>
      Thanh toán: {{rest.cart.list[rest.cart.select].payment}} <br>
      Tổng đơn hàng: {{rest.cart.list[rest.cart.select].total}} <br>
      <br>
      <table>
        <tr>
          <td> Sản phẩm </td>
          <td> Đơn giá </td>
          <td> SL </td>
          <td> Tổng </td>
        </tr>
        <tr *ngFor="let item of rest.cart.list[rest.cart.select].item">
          <td> {{item.name}} </td>
          <td> {{item.price}} </td>
          <td> {{item.number}} </td>
          <td> {{item.total}} </td>
        </tr>
      </table>
      <ion-button (click)="change('wc-onhold')">
        Tạm giữ
      </ion-button>
      <ion-button (click)="change('wc-processing')">
        Đang xử lý
      </ion-button>
      <ion-button (click)="change('wc-complete')">
        Hoàn thành
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>