<ion-header>
  <ion-toolbar color="success">
    <ion-title style="text-align: center;">
      THANHXUANPET
    </ion-title>
    <ion-buttons slot="secondary">
      <ion-button (click)="rest.router.navigateByUrl('/setting')">
        <ion-icon slot="end" name="settings-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="start">
      <ion-img src="assets/image/logo.png" class="logo" (click)="this.rest.router.navigateByUrl('/home')"></ion-img>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="rest.router.navigateByUrl('gopy')">
    <ion-fab-button>
      Góp ý
    </ion-fab-button>
  </ion-fab>

  <div *ngIf="expire == 0">
    <div class="box" (click)="select(1)">
      <ion-img src="assets/image/expire.png" class="box-image"></ion-img>
      <div class="box-title">
        Danh sách hết hạn
      </div>
    </div>

    <div class="box" (click)="select(2)">
      <ion-img src="assets/image/storage.png" class="box-image"></ion-img>
      <div class="box-title">
        Danh sách kho
      </div>
    </div>
  </div>

  <div *ngIf="expire == 1">
    <ion-card *ngFor="let item of rest.expire.list" [class]="item.color">
      <ion-card-content>
        {{item.name}}: {{item.number}} <br>
        {{item.time}}
        <ion-button class="right" color="danger" size="small" (click)="remove(item.id)">
          <ion-icon name="trash-outline"></ion-icon>
        </ion-button>
      </ion-card-content>
    </ion-card>
  </div>

  <!-- <table border="1">
    <tr>
      <th>  </th>
      <th> Mặt hàng </th>
      <th> Số lượng </th>
      <th> Hạn sử dụng </th>
      <th></th>
    </tr>
    <tbody>
      <tr>
        <td> <ion-checkbox [(ngModel)]="list[item.id]"></ion-checkbox> </td>
        <td>  </td>
        <td>  </td>
        <td>  </td>
        <td>
        </td>
      </tr>
    </tbody>
  </table> -->

  <div *ngIf="expire == 2">
    <ion-card *ngFor="let item of rest.expire.item">
      <ion-card-content>
        {{item.name}}
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>

<ion-toolbar *ngIf="expire == 1">
  <ion-tabs>
    <ion-tab-bar>
      <ion-tab-button (click)="rest.navCtrl.pop()">
        <ion-icon name="arrow-back-outline"></ion-icon>
        <ion-label> Trở về </ion-label>
      </ion-tab-button>

      <ion-tab-button (click)="expire = 0">
        <ion-icon name="apps-outline"></ion-icon>
        <ion-label> Chức năng </ion-label>
      </ion-tab-button>

      <ion-tab-button (click)="edit(0)">
        <ion-icon name="add-circle-outline"></ion-icon>
        <ion-label> Thêm </ion-label>
      </ion-tab-button>

      <ion-tab-button (click)="removeSelected()">
        <ion-icon name="trash-outline"></ion-icon>
        <ion-label> Xóa đã chọn </ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-toolbar>

<ion-toolbar *ngIf="expire == 2">
  <ion-tabs>
    <ion-tab-bar>
      <ion-tab-button (click)="rest.navCtrl.pop()">
        <ion-icon name="arrow-back-outline"></ion-icon>
        <ion-label> Trở về </ion-label>
      </ion-tab-button>

      <ion-tab-button (click)="expire = 0">
        <ion-icon name="apps-outline"></ion-icon>
        <ion-label> Chức năng </ion-label>
      </ion-tab-button>

      <ion-tab-button (click)="updateItem()">
        <ion-icon name="add-circle-outline"></ion-icon>
        <ion-label> Thêm </ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-toolbar>
