<ion-toolbar color="success">
  <ion-button color="light" fill="clear" (click)="modal.dismiss()">
    <ion-icon name="chevron-back-outline"></ion-icon>
  </ion-button>
  <ion-button slot="end" (click)="print()" color="light" fill="clear">
    <ion-icon name="print-outline"></ion-icon>
  </ion-button>
</ion-toolbar>

<ion-content>
  <ion-item> Chủ nuôi: {{rest.profile.data.customer}} </ion-item>
  <ion-item> Địa chỉ: {{rest.profile.data.address}} </ion-item>
  <ion-item> Tên thú cưng: {{rest.profile.data.name}} </ion-item>
  <ion-item> Cân nặng: {{rest.profile.data.weight}} </ion-item>
  <ion-item> Tuổi: {{rest.profile.data.age}} </ion-item>
  <ion-item> Giới tính: {{rest.profile.data.gender}} </ion-item>
  <ion-item> Loài thú cưng: {{rest.profile.data.type}} </ion-item>
  <ion-item> SampleID: {{rest.profile.data.id}} </ion-item>
  <ion-item> Số serial: {{rest.profile.data.serial}} </ion-item>
  <ion-item> Loại mẫu: {{rest.profile.data.sampletype}} </ion-item>
  <ion-item> Kỹ hiệu mẫu: {{rest.profile.data.samplesymbol}} </ion-item>
  <ion-item> Tình trạng mẫu: {{rest.profile.data.samplestatus}} </ion-item>
  <ion-item> Bác sĩ: {{rest.profile.data.doctor}} </ion-item>
  <ion-item> Ngày kiểm tra: {{rest.timetodate((rest.profile.data.time))}} </ion-item>
  <ion-item *ngFor="let item of rest.profile.data.target"> Chỉ tiêu {{item.name}}: {{item.value}} </ion-item>
</ion-content>
