<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="box-list">
    <label class="box">
      <ion-thumbnail>
        <ion-img src="assets/image/insert.png"></ion-img>
        <input type="file" [(ngModel)]="files" #filechooser style="display: none;" accept="image/*">
      </ion-thumbnail>
    </label>

    <ion-button (click)="save()" >
      lưu
    </ion-button>

    <ion-label *ngFor="let image of images; let i = index">
      <ion-thumbnail class="box" *ngIf="image.length" (click)="remove(i)">
        <ion-img [src]="image"></ion-img>
      </ion-thumbnail>
    </ion-label>
  </div>
</ion-content>
