<ion-toolbar color="success">
  <ion-button color="light" fill="clear" (click)="this.rest.navCtrl.pop()">
    <ion-icon name="chevron-back-outline"></ion-icon>
  </ion-button>
  <ion-button *ngIf="!rest.fivemin.disable" slot="end" (click)="update()" color="light" fill="clear">
    Cập nhật
  </ion-button>
</ion-toolbar>

<ion-content>
  <div *ngFor="let tieuchi of dulieu; let i = index">
    <ion-card *ngIf="rest.fivemin.data[tieuchi.ten]">
      <ion-card-header class="header">
        {{tieuchi.tieude}}
      </ion-card-header>
      <ion-card-content>
        <div class="tieuchi" *ngFor="let hang of rest.fivemin.data[tieuchi.ten]; let chimuc = index">
          <b> {{chimuc + 1}}. </b> {{hang.noidung}}
          <ion-button *ngIf="!hang.hoanthanh" [disabled]="rest.fivemin.disable" size="small" color="secondary" shape="round" class="right" (click)="viewImage(tieuchi.ten, chimuc, hang.id)">
            báo cáo <ion-icon name="checkmark-circle-outline"></ion-icon>
          </ion-button>
          <ion-button *ngIf="hang.hoanthanh" [disabled]="rest.fivemin.disable" size="small" color="danger" shape="round" class="right" (click)="viewImage(tieuchi.ten, chimuc, hang.id)">
            báo cáo <ion-icon name="close-circle-outline"></ion-icon>
          </ion-button>
          <ion-icon *ngIf="hang.hinhanh.length" name="image-outline" class="right"></ion-icon>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
  <div class="pad">
    <div *ngIf="rest.fivemin.gopy.gopy.length" class="endline-text">
      <p class="text-center"> <b> Góp ý </b> </p>
      <p class="error">
        <span> <b> {{rest.fivemin.gopy.nguoigopy}} góp ý: </b> {{rest.fivemin.gopy.gopy}} </span>
      </p>
    </div>
  </div>
</ion-content>
