<ion-toolbar color="success">
  <ion-button color="light" fill="clear" (click)="rest.navCtrl.pop()">
    <ion-icon name="chevron-back-outline"></ion-icon>
  </ion-button>
</ion-toolbar>

<ion-content>
  <ion-card *ngFor="let danhsach of rest.fivemin.thongke.danhsach; let i = index">
    <ion-card-header class="header">
      {{rest.timetodate(danhsach.time * 1000)}} 
    </ion-card-header>
    <ion-card-content>
      <div class="group" *ngFor="let dulieu of danhsach.dulieu; let j = index">
        <p> <b class="under">{{tieuchi[dulieu.tieuchi]}}</b> </p>
        <div class="overflow underline" *ngFor="let thongke of dulieu.danhsach; let k = index">
          {{k + 1}}. {{thongke.noidung}}
          <ion-button *ngIf="thongke.hoanthanh > 0" size="small" color="secondary" shape="round" class="right">
            HT
          </ion-button>
          <ion-button *ngIf="thongke.hoanthanh == '0'" size="small" color="danger" shape="round" class="right">
            CHT
          </ion-button>
          <ion-button size="small" color="secondary" shape="round" class="right" (click)="rate(i, j, k)">
            {{thongke.sao}} <ion-icon name="star" color="warning"></ion-icon>
          </ion-button>
          <ion-button *ngIf="thongke.image.length" size="small" color="secondary" shape="round" class="right" (click)="viewImage(i, j, k)">
            <ion-icon name="image-outline"></ion-icon>
          </ion-button>
        </div>
      </div>
    </ion-card-content>
    <ion-card-subtitle>
      <div class="overflow padding">
        <span *ngIf="danhsach.gopy.length"> <b> {{danhsach.nguoigopy}} góp ý: </b> {{danhsach.gopy}} </span>
        <ion-button class="right" size="small" shape="round" color="secondary" (click)="gopy(i)">
          góp ý
        </ion-button>  
      </div>
    </ion-card-subtitle>
  </ion-card>
</ion-content>
